<div class="container">

<div class="row">
    <div class="page-header text-center">
        <h1 class="border">Pokédex</h1>
    </div>
</div>

<div class="row">
  <% @pokemons['results'].each.with_index do |pokemon, index| %>
    <div class="col-sm-4 col-md-2 ex1">
        <div class="thumbnail" style="background: #f2f2f2;">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= index + 1 %>.png" alt="...">
            <div class="caption">
                <h3><%= pokemon["name"].titleize %></h3>
                    <p>
                        <a href="show/<%= index + 1 %>" class="btn btn-sm btn-danger" role="button">Detalle</a>
                    </p>
            </div>
        </div>
    </div>
  <% end %>
</div>

</div>
